<!DOCTYPE html>
<html>
  <head>
    <title>LifeStyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <h1>Stories</h1>
    <nav>
      <ul>
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
</html>
