<!DOCTYPE html>
<html>
  <head>
    <title>LifeStyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <%= link_to "Write a article", '/posts/new'%>
  </header>
    <%= yield %>
  </body>
</html>
